@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');
/*#BBC4C7*/

body {
  background-color: #BBC4C7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gothic A1', sans-serif;
  min-height: 100vh;
}

.App {
  width: 85vw;
  height: 90vh;
  padding: 20px;
  font-family: 'Gothic A1', sans-serif;
}

/* #root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

/* button css
.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 10px 10px 20px 20px;

  font-size: 18px;
  white-space: nowrap;
  font-family: 'Gothic A1', sans-serif;
} */

/* Header */
.header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
}

.header > div {
  display: flex;
}

.header .date {
  width: 50%;
  font-size: 25px;
  justify-content: start;
}

.header .weather {
  width: 50%;
  font-size: 25px;
  justify-content: end;
}